body {
    margin-top: 20px;
    margin-left: 20px;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #333;
}

p {
    text-align: center;
}

search{
    padding: 10px;
}

search{
    button:hover{
        background-color: #3ae718;
        color: white;
        cursor: pointer;
    }
    
}

